/* Medium Layout: 1280px. */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .single_screen_slide { padding: 48px 30px 52px 30px; }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .single_screen_slide { padding: 48px 30px 52px 30px; }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #mainmenu ul.nav.navbar-nav li a {  padding: 20px 10px; }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
   /*.navbar-default .navbar-collapse{background:linear-gradient(to right,#000000 0%,#000000 0%,#4e4e4e 100%)}
   .mainmenu-area .navbar-toggle{background:rgba(0,0,0,0) none repeat scroll 0 0;border:1px solid #000;border-radius:1px;padding:10px;-webkit-transition:0.3s;transition:0.3s}
   .imgstatic{float:left;width:100%;text-align:center}
   .mainmenu-area .navbar-toggle .icon-bar{background-color:#fff;-webkit-transition:0.3s;transition:0.3s}
   .mainmenu-area .navbar-toggle:focus,
   .mainmenu-area .navbar-toggle:hover{background-color:#000}
   .mainmenu-area .navbar-toggle:focus .icon-bar,
   .mainmenu-area .navbar-toggle:hover .icon-bar{background-color:#f6d472}
   .well.well-lg{padding:30px}
   #mainmenu ul.nav.navbar-nav li a{text-align:center}
   .comment-list .media-left{display:inline-block;padding:20px 20px 10px}
   .owl-carousel .owl-item img{width:219px}*/


   .DesktopHeader{ display: none;  }
   .MobileHeader{ display: block; }



}


/* Wide Mobile Layout: 480px. */

@media screen and (max-width: 425px) {



}

 